*{
    margin: 0;
    padding: 0;
}

.container h2{
    text-align: center;
   
}

.container{
    margin-top: 20px;
}

#fm1 {
    display:inline-block;
    position:relative;
    text-align: center;
}

#fm2{
    text-align: center;
}

#fm1 .form-control{
    margin: 5px;
    margin-left: 30px;
}

.card{
  
    margin-top: 200px;
    width: 500px;
    
}


